{{#if twitter}}
  <a href={{twitter}} class={{linksClass}}>twitter</a>
{{/if}}
{{#if linkedin}}
  - <a href={{linkedin}} class={{linksClass}}>linkedin</a>
{{/if}}
{{#if github}}
  - <a href={{github}} class={{linksClass}}>github</a>
{{/if}}
{{#if facebook}}
  - <a href={{facebook}} class={{linksClass}}>facebook</a>
{{/if}}
{{#if instagram}}
  - <a href={{instagram}} class={{linksClass}}>instagram</a>
{{/if}}
